/* colors */
body {
	background-color: #f8f4e0;
}

.navbar {
	background-color: #136;
}

#navbarbottom {
	background-color: #14b;
}

.navbar .navbar-brand {
	color: #fff;
}

.navbar .navbar-right li {
	color: #fff;
}

.navbar .navbar-nav > li > a {
	color: #fff;
}

.navbar .navbar-nav > li > a:hover {
	color: #eee;
	background-color: #0838a0;
}

.navbar .navbar-nav > li > a:active {
	color: #ccc;
	background-color: #003098;
}

.content-area {
	background-color: #fff;
}

.footer {
	background-color: #fff;
}

.btn-default {
	color: #fff;
	background-color: #f63;
	border-color: #e52;
}

.btn-default:focus {
	color: #fff;
	background-color: #e52;
	border-color: #a30;
}

.btn-default:hover {
	color: #fff;
	background-color: #e52;
	border-color: #d41;
}

.btn-default:active {
	color: #fff;
	background-color: #e52;
	border-color: #d41;
}

.btn-default:active:hover,
.btn-default:active:focus {
	color: #fff;
	background-color: #d41;
	border-color: #a30;
}

.user-base-path {
	color: #999;
}

/* /colors */

.navbar {
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 0 !important;
}

.diskspace {
	padding: 15px;
}

.diskspace li {
	padding-left: 8px;
}

.content-area {
	min-height: 400px;
	padding: 20px;
}

.footer {
	padding: 10px 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.uploadfilebutton {
	padding: 6px 0px 0px 0px;
}
